

.sections.all-products {
  text-align: center;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.products-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.products-item:hover {
  transform: scale(1.1); /* Scale up the element on hover */
  transition: transform 0.3s ease; /* Add smooth transition */
}


.products-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.products-item h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.products-item p {
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.products-item span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.products-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-item li {
  margin-bottom: 20px;
}

.products-item button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* Additional styles (optional) */

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.sections.all-products a { /* Styles for links within the section */
  color: #007bff;
  text-decoration: none;
}

.sections.all-products a:hover {
  text-decoration: underline;
}
.bold-centerrr {
  font-size: 30px; /* Adjust the font size as needed */
  text-align: center;
  font-weight: bold;
  font-family: "Arial", sans-serif; /* Specify the desired font family */
}
/* CSS */
